{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/shared/(.*)$",
    "^@/entities/(.*)$",
    "^@/features/(.*)$",
    "^@/pages/(.*)$",
    "^@/app/(.*)$",
    "^\\.\\./(.*)",
    "^\\./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
